body {
  width: 100vw;
  max-width: 1250px;
  color: #fff;
  margin: 0px auto;
  background: black;
  font-family: Arial;
}
p {
  margin: 6px 0px;
  width: fit-content;
}
input, button, select {
  color: #fff;
  background: #222;
  margin: 2px;
  padding: 2px 4px;
  border: 2px #444 solid;
  border-radius: 0.75rem;
}
button {
  border-radius: 0.25rem;
}
button:hover {
  background: #444;
}
button[disabled] {
  color: #ddd;
  background: #111;
  cursor: not-allowed;
}
select {
  padding: 1px;
  border-radius: 0.25rem;
}
.clicky {
  cursor: pointer;
  border-radius: 0.25rem;
}
.clicky:hover {
  background: #222;
}
#top {
  display: flex;
  gap: 5px;
  align-items: center;
}
#top input {
  margin: 0px;
}
#provider {
  margin-right: 40px;
}
div:has(>iframe) {
  display: flex;
  justify-content: center;
}
iframe {
  width: 100vw;
  max-width: 1250px;
  aspect-ratio: 16/9;
  border: 1px #444 solid;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.wrap div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 calc(20% - (4 * 1em) / 5);
}
.wrap div img {
  width: 100%;
  border-radius: 0.25rem;
  margin: auto;
}
.wrap div span {
  height: 3.50em;
  font-size: 75%;
  overflow: hidden;
}
.anime {
  display: flex;
  gap: 1em;
}
.anime > div {
  border-radius: 0.5rem;
  overflow: hidden;
}
.stat {
  display: flex;
  justify-content: center;
  padding: 2px;
  background-color: #333;
}
#con {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  background: #111;
}